:root {
  --cerah: #75c2f6;
  --mendung: #4f709c;
  --gelap: #313866;
  --bg: #ececec;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: var(); */
  background-color: var(--bg);
}

.register-page {
  width: 22rem;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  background: var(--cerah);
  max-width: 30rem;
  margin: 0 auto 9rem;
  padding: 3rem;
  text-align: left;
}

.form .extra {
  text-align: center;
  margin-top: 1rem;
}

.form .extra button {
  margin-bottom: 1rem;
}

.form .extra .click,
.form .extra .click a {
  font-size: 1rem;
}

.form .extra .click a {
  text-decoration: none;
}

.form .register {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
}

.form .extra button{
  transition: all 0.3 ease;
}

.form .extra button:hover, 
.form .extra button:active, 
.form .extra button:focus{
    transition-duration: 0.4s;
    color: #fff;
}